<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dash Bord</title>

</head>
<body>

<img src="../assets/images/mobile-phone-shop-logo.jpg">

<div id="customerBtn">
    <a href="">
        <img src="../assets/images/customerJPEG.jpg" >
        <label>Customer</label>
        <label>management form here..</label>
    </a>
</div>

<div id="itemBtn">
    <a href="">
        <img src="../assets/images/item.png" >
        <label>Item</label>
        <label>management form here..</label>
    </a>
</div>

<div id="orderBtn">
    <a href="">
        <img src="../assets/images/cart.png" >
        <label>Order</label>
        <label>management form here..</label>
    </a>
</div>

</body>
</html>