<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/bootstrapCSS/bootstrap.min.css">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
</head>
<body>

<nav>
    <ul>
        <li><a href="">DashBord</a> </li>
        <li><a href="">Customer</a> </li>
        <li><a href="">Item</a> </li>
        <li><a href="">Order</a> </li>
    </ul>
    <h1>Order FORM</h1>
    <img src="../assets/images/mobile-phone-shop-logo.jpg">
</nav>
<div>
    <h2>Order details</h2>
    <input type="text" id="ItemCode" placeholder="Enter Item Code..">
    <input type="text" id="description">
    <input type="text" id="unitPrice">
    <input type="number" id="qty">
</div>

</body>
</html>